.table .search input{
	width: 200px;
	height: 40px;
	padding-left: 10px;
}
/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	align-items: center;
	justify-content: center;
    background-color: burlywood;
}
.box{
    margin: 0;
    width: 100%;
    max-width: 900px;
	background-color: white;
	border-radius: 6px;
	margin: 5px 225px;
	padding: 10px;
} */

/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box{
	width: 100%;
    min-width: 150vh;
	max-width: 900px;
	position: relative;
	background-color: white;
	border-radius: 6px;
	margin: 0 15px;
	padding: 30px;
}
.box .form{
	position: relative;
	margin-top: 16px;
	min-height: 500px;
	background-color: white;
	overflow: hidden;
}
.box .form .twocolumn{
	margin-top: 10px;
}
.box .form .title{
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	margin: 6px 0;
	font-weight: 600px;
	color: cadetblue;
}
.box .form .fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form .fields .input-fields{
	display: flex;
	margin: 4px 0;
	width: calc(100% / 2 - 20px);
	flex-direction: column;
}
.input-fields span{
	font-size: 12px;
	font-weight: 500;
	color: 2e2e2e;

}
.input-fields label{
	height: 30px;
	margin: 8px 0;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	font-size: 14px;
	font-weight: 400px;
	padding: 5px 15px;
}

.form .threecolumn .fields .input-fields{
	display: flex;
	margin: 4px 0;
	width: calc(100% / 3 - 20px);
	flex-direction: column;
}

.form .fourcolumn .fields .input-fields{
	display: flex;
	margin: 4px 0;
	width: calc(100% / 4 - 20px);
	flex-direction: column;
}

.form .fourcolumn .fields .input-fields span{
	font-style: italic;
}

.box .form button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	max-width: 200px;
	width: 100%;
	outline: none;
	border-radius: none;
	color: white;
	border-radius: 5px;
	margin: 0 10px;
	background-color: cadetblue;
	cursor: pointer;
}

.form button:hover{
	background-color: black;

}
.form .buttons{
	display: flex;
	align-items: center;
}
.form .buttons button{
	margin-right: 20px;
}

@media (max-width: 750px){

	.box .form{
		overflow-y: scroll;
	}
	.box .form::-webkit-scrollbar{
		display: none;
	}

	.box .form button{
		align-items: center;
	}

	.form .twocolumn .fields .input-fields{
		width: calc(100% / 2 - 15px);
	}

	.form .threecolumn .fields .input-fields{
		width: calc(100% / 2 - 15px);
	}


	.form .fourcolumn .fields .input-fields{
		width: calc(100% / 2 - 15px);
	}
}

@media (max-width: 550px){
	.form .twocolumn .fields .input-fields{
		width: 100%
	}
	.form .threecolumn .fields .input-fields{
		width: 100%
	}
	.form .fourcolumn .fields .input-fields{
		width: 100%
	}
}

/*https://www.youtube.com/watch?v=wL9YzgA13c4
*/